Yks Web V2/EgmYKS/Web References/WebReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.1.150:83" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.1.150:83" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.1.150:83">
      <s:element name="TempTelefonInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Agent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TempTelefonInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TempTelefonInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TempTelefonInsertSoapIn">
    <wsdl:part name="parameters" element="tns:TempTelefonInsert" />
  </wsdl:message>
  <wsdl:message name="TempTelefonInsertSoapOut">
    <wsdl:part name="parameters" element="tns:TempTelefonInsertResponse" />
  </wsdl:message>
  <wsdl:message name="TempTelefonInsertHttpGetIn">
    <wsdl:part name="Telefon" type="s:string" />
    <wsdl:part name="Agent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TempTelefonInsertHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="TempTelefonInsertHttpPostIn">
    <wsdl:part name="Telefon" type="s:string" />
    <wsdl:part name="Agent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TempTelefonInsertHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="TempTelefonInsert">
      <wsdl:input message="tns:TempTelefonInsertSoapIn" />
      <wsdl:output message="tns:TempTelefonInsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="TempTelefonInsert">
      <wsdl:input message="tns:TempTelefonInsertHttpGetIn" />
      <wsdl:output message="tns:TempTelefonInsertHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="TempTelefonInsert">
      <wsdl:input message="tns:TempTelefonInsertHttpPostIn" />
      <wsdl:output message="tns:TempTelefonInsertHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TempTelefonInsert">
      <soap:operation soapAction="http://192.168.1.150:83/TempTelefonInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TempTelefonInsert">
      <soap12:operation soapAction="http://192.168.1.150:83/TempTelefonInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TempTelefonInsert">
      <http:operation location="/TempTelefonInsert" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TempTelefonInsert">
      <http:operation location="/TempTelefonInsert" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.1.150:83/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.1.150:83/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://192.168.1.150:83/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://192.168.1.150:83/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>